/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #424242; /* 主文本颜色 */
    background-color: #fff;
}
.xcs {
    position: fixed; /* 固定定位 */
    top: 10px; /* 距页面顶部10px */
    right: 20px; /* 距页面右侧20px */
    text-decoration: none;
    font-size: 20px; /* 字体大小 */
    font-weight: bold; /* 加粗 */
    color: black; /* 字体颜色 */
    transition: color 0.3s ease; /* 添加过渡效果 */
}

.xcs:hover {
    color: #0056b3; /* 悬停时字体颜色变化 */
}


/* 页面内容样式 */
.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    color: #757575; /* 标题灰色 */
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #000; /* 小标题颜色 */
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

