<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admissions Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dpnew.css') }}">
</head>
<body>
    <!-- 固定的目录栏 -->
    <div class="navbar">  
        <button id="addButton">DP 分享</button>
        <button id="homeButton" onclick="window.location.href='/'">xCS</button>
    </div>

    <div id="formContainer" style="display: none;">
        <div id="formContent">
            <!-- 关闭按钮 -->
            <button id="closeButton">关闭</button>
            <!-- 表单 -->
            <form id="admissionForm" method="post" action="/cnvisa">
                <label for="visa_status">签证情况:</label>
                <select id="visa_status" name="visa_status">
                    <option value="Approved">Approved</option>
                    <option value="Check" selected>Check</option>
                    <option value="Refused">Refused</option>
                </select>

                <label for="location">签证地点:</label>
                <select id="location" name="location">
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="武汉">武汉</option>
                    <option value="沈阳">沈阳</option>
                </select>

                <label for="visa_type">签证类型:</label>
                <select id="visa_type" name="visa_type">
                    <option value="F" selected>F</option>
                    <option value="J">J</option>
                    <option value="OPT">OPT</option>
                    <option value="H1B">H1B</option>
                    <option value="其他">其他</option>
                </select>

                <label for="graduate_type">本科院校类型:</label>
                <select id="graduate_type" name="graduate_type">
                    <option value="国防七子">国防七子</option>
                    <option value="10043特高风险">10043特高风险</option>
                    <option value="10043高风险">10043高风险</option>
                    <option value="10043中风险">10043中风险</option>
                    <option value="10043低风险">10043低风险</option>
                    <option value="非10043">非10043</option>
                </select>

                <label for="interview_date">面签时间:</label>
                <input type="date" id="interview_date" name="interview_date" required>

                <label for="issue_date">签发时间:</label>
                <input type="date" id="issue_date" name="issue_date">

                <label for="major">专业:</label>
                <select id="major" name="major">
                    <option value="已工作">已工作</option>
                    <option value="CS-phd">CS-phd</option>
                    <option value="其他STEM-phd">其他STEM-phd</option>
                    <option value="CS">CS-master</option>
                    <option value="其他STEM-master">其他STEM-master</option>
                    <option value="STEM-美本">STEM-美本</option>
                </select>

                <button type="submit">提交</button>
            </form>
        </div>
    </div>

    <script>
        // 获取按钮和表单容器
        const addButton = document.getElementById('addButton');
        const formContainer = document.getElementById('formContainer');
        const closeButton = document.getElementById('closeButton');

        // 点击 "DP 上报" 按钮显示表单
        addButton.addEventListener('click', () => {
            formContainer.style.display = 'flex';
        });

        // 点击 "关闭" 按钮隐藏表单
        closeButton.addEventListener('click', () => {
            formContainer.style.display = 'none';
        });
    </script>

    <!-- 录取信息展示 -->
    <div class="admissions-display">
        {% for visadp in cnvisa %}
        <div class="admission-card {{'ad-card-ad' if visadp.visa_status == 'Approved' else 'ad-card-rej' if visadp.visa_status == 'Check' else 'ad-card-Ref' if visadp.visa_status == 'Refused' }}">
            <h3>{{ visadp.location }} {{ visadp.visa_type }}</h3>
            <p>{{visadp.interview_date}} - {{visadp.issue_date}}</p>
            <p>{{ visadp.graduate_type }} ({{visadp.major}})</p>
        </div>
        {% endfor %}        
    </div> 
</body>
</html>