<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introedit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dpnew.css') }}">
</head>
<body>
    <!-- 固定的目录栏 -->
    <div class="navbar">  
        <button id="addButton">DP 分享</button>
        <button id="homeButton" onclick="window.location.href='/'">xCS</button>
    </div>

    <div class="admissions-display">
        {% for school_intro in school_intros %}
        <div class="admission-card ">
            <h3>{{ school_intro.name }}</h3>
            <p>{{school_intro.description_manager}} </p>
            <button class="details-button" onclick="showModifyForm('{{ school_intro.id }}')">修改</button>
        </div>

        <div class="modal" id="modify-modal-{{ school_intro.id }}" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModifyForm('{{ school_intro.id }}')">×</span>
                <h3>修改信息</h3>
                <form id="updateForm-{{ school_intro.id }}" method="post" action="/introedit">
                    <input type="hidden" name="id" value="{{ school_intro.id }}">

                    <label for="schoolName">项目说明补充:</label>
                    <textarea id="project-description" name="description_manager"></textarea>
                    <button type="submit">更新</button>
                </form>
            </div>
        </div>
        {% endfor %}        
    </div> 

    <script>
        function showModifyForm(admissionId) {
            document.getElementById(`modify-modal-${admissionId}`).style.display = 'flex';
        }
    
        function closeModifyForm(admissionId) {
            document.getElementById(`modify-modal-${admissionId}`).style.display = 'none';
        }
    </script>
</body>
</html>